@import 'http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css'
@import '../assets/fonts/icomoon/style.css'

@font-face
	font-family: 'Nasalization Regular'
	src: url('../assets/fonts/nasalization-regular.ttf')


@font-face
	font-family: 'Bebas Regular'
	src: url('../assets/fonts/bebas-regular.ttf')






