<div class="projects-grid">
	<div class="grid-item">
		<header>Projects</header>
	</div>
	<div class="grid-item">
		<div class="thumb-container">
			<div class="inner"></div>
		</div>
	</div>
	<div class="grid-item">
		<div class="thumb-container">
			<div class="inner"></div>
		</div>
	</div>
	<div class="grid-item">
		<div class="thumb-container">
			<div class="inner"></div>
		</div>
	</div>
	<div class="grid-item">
		<div class="thumb-container">
			<div class="inner"></div>
		</div>
	</div>
</div>