@import variables
@import responsive

.projects-wrapper
	// margin-top: 3rem
	margin-top: 6rem
	+media-sm2-up
		margin-top: 3rem
	+media-lg
		margin-top: -7rem
	header
		// width: 50%
		// margin-left: 50%
		padding: 0 6.25%
		width: 100%
		margin: 0 0 6rem
		+media-sm2-up
			top: 6rem
			width: 50%
			margin-left: 50%
			
		+media-lg-up
			position: relative
			top: 13rem
		.section-title
			letter-spacing: 0.05em
			margin-left: -0.3rem
			font-size: 6rem
			line-height: 1
			color: $text-dark
			font-family: $bebas
			text-transform: uppercase
			+media-lg
				font-size: 8rem
		.bar
			width: 5rem
			border-bottom: 2px solid $text-dark
			margin: 1rem 0 2rem
			+media-lg
				margin: 2rem 0 4rem
		.section-desc
			font-size: 1rem
			line-height: 1.6
			+media-lg
				font-size: 1.25rem
	.project-row
		display: flex
		pointer-events: none
		padding: 0
		margin: 0 0 120px
		&:nth-child(even)
			padding: 0
			+media-sm2-up
				padding-bottom: 18rem
			+media-md-up
				padding-bottom: 8rem
		+media-sm
			margin: 0 0 180px
		+media-sm2-up
			margin: 0 0 220px
			margin-top: -30rem
		.content-half
			padding: 0 6.25%
			position: relative
			pointer-events: initial
			flex: 0 0 100%
			max-width: 100vw
			// flex: 0 0 50%
			// max-width: 50vw
			+media-sm2-up
				flex: 0 0 50%
				max-width: 50vw
			.thumb-wrapper
				position: relative
				width: 100%
				padding-top: 62%
				+media-sm2-up
					padding-top: 100%
				.inner
					position: absolute
					top: 0
					right: 0
					bottom: 0
					left: 0
					background-position: center center
					background-repeat: no-repeat
					background-size: cover
			.desc
				position: relative
				margin-top: 2rem
				display: flex
				justify-content: space-between
				font-family: $bebas
				color: $text-dark
				.big-number
					font-size: 20rem
					position: absolute
					font-weight: 900
					color: rgba(100, 100, 100, 0.1)
					top: -12rem
					left: -4.3rem
					user-select: none
					+media-md-up
						top: -13rem
						font-size: 22rem
					+media-md2-up
						top: -15rem
						font-size: 24rem
					+media-lg-up
						top: -17rem
						font-size: 26rem
				.meta
					display: flex
					.number
						font-size: 20px
						line-height: 2
						margin-right: 0.5em
						+media-sm-up
							font-size: 24px
						+media-sm2-up
							font-size: 20px
						+media-md-up
							font-size: 24px
						+media-md2-up
							font-size: 28px
						+media-lg-up
							font-size: 32px

					.title
						font-size: 40px
						line-height: 1
						text-transform: uppercase
						padding-right: 0.5em
						+media-sm-up
							font-size: 48px
						+media-sm2-up
							font-size: 40px
						+media-md-up
							font-size: 48px
						+media-md2-up
							font-size: 56px
						+media-lg-up
							font-size: 64px
				.view-project
					line-height: 2
					letter-spacing: 0.05em
					text-transform: uppercase
					position: relative
					color: $red
					white-space: nowrap
					transition: 300ms
					height: fit-content
					// font-size: 1.5rem
					font-size: 20px
					+media-sm-up
						font-size: 24px
					+media-sm2-up
						font-size: 20px
					+media-md-up
						font-size: 24px
					+media-md2-up
						font-size: 28px
					+media-lg-up
						font-size: 32px
					.bar
						display: inline-block
						height: 2px 
						width: 2em
						background: $text-dark
						margin-left: 1rem
						bottom: 0.5rem
						position: relative
						transition: 300ms
						@media screen and (max-width: 419px)
							display: none
						+media-sm2
							display: none
						+media-lg
							bottom: 0.75rem
					&:hover
						cursor: pointer
						color: $text-dark
						.bar
							background: $red

		.empty-half
			flex: 0 0 50%
			padding: 0 6.25%
			pointer-events: none
			// visibility: hidden
			display: none
			+media-sm2-up
				display: block
				visibility: hidden
		&:nth-child(odd)
			.content-half
				order: 2
