@import variables

.project-modal-wrapper
	position: fixed
	display: flex
	align-items: center
	justify-content: center
	top: 0
	right: 0
	bottom: 0
	left: 0
	z-index: 100
	pointer-events: none
	opacity: 0
	transition: 300ms
	&.show 
		pointer-events: initial
		opacity: 1
	.backdrop
		position: fixed
		top: 0
		right: 0
		bottom: 0
		left: 0
		background: rgba(0, 0, 0, 0.4)
	.ratio-container
		width: 72%
		padding-top: 40%
		height: 0
		position: relative
		.project-modal
			display: flex
			position: absolute
			top: 0
			right: 0
			bottom: 0
			left: 0
			background: white
			box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23)
			.project-img
				flex: 0 0 40%
				height: 100%
				background-position: center center
				background-repeat: no-repeat
				background-size: cover