<section id="splash">
  <div class="canvas-container">
    <ambient-canvas></ambient-canvas>
  </div>
  <grid-lines></grid-lines>
  <header>
    <div class="logo">R</div>
    <div class="web-url">rluo.dev</div>
    <div class="spacer"></div>
    <!-- <div class="go-to-blog">Go To Blog<i class="icomoon icon-newspaper"></i></div> -->
  </header>
  <div class="splash-content">
    <div class="heading richard">Richard Luo</div>
    <div class="heading">Web Developer</div>
    <div class="subheading">I help companies implement <span>intuitive</span> and <span>minimalist</span> web applications solutions</div>
    <div class="view-projects" (click)="scrollTo('projects')">View Projects</div>
  </div>
  <footer class="splash-footer">
    <div class="social-links">
      <a href="https://www.linkedin.com/in/richardluo0506" class="social-btn" target="_blank"><i class="ionicons ion-social-linkedin-outline"></i></a>
      <a href="https://github.com/RichardLuo0506" class="social-btn github" target="_blank"><i class="ionicons ion-social-github"></i></a>
      <a href="mailto:richardluo0506@gmail.com" class="social-btn email"><i class="ionicons ion-at"></i></a>
    </div>
    <div class="contact" (click)="scrollTo('home-footer')">Contact me at <span>richardluo0506@gmail.com</span></div>
  </footer>
</section>
<section id="projects">
  <grid-lines [paddingTop]="'7rem'"></grid-lines>
  <projects></projects>
</section>
<section id="me">
  <grid-lines></grid-lines>
  <div class="half-column left">
    <div class="inner">
      <div class="contact-me" (click)="scrollTo('home-footer')">Contact me<span class="bar"></span></div>
      <div class="photo" [style.backgroundImage]="'url(assets/img/me.jpg)'"></div>
    </div>
  </div>
  <div class="half-column right">
    <div class="inner">
      <div class="content-wrapper">
        <div class="content">
          <header>
            <div class="line">Let's</div>
            <div class="line hl">Work</div>
            <div class="line">Together!</div>
          </header>
          <div class="body-text">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio.</div>
          <div class="ps">Let's build something cool!</div>
        </div>
      </div>
    </div>
  </div>
</section>
<footer id="home-footer">
  <grid-lines></grid-lines>
  <div class="heading">
    <div class="title">
      <div class="back">You</div>
      <div class="front">Ready?</div>
    </div>
    <div class="subtitle">
      <div class="bar"></div>
      <div class="msg">Say hello below and I'll get back to you as soon as possible.</div>
    </div>
  </div>
  <form class="contact-form" #contactForm="ngForm" [ngFormOptions]="{updateOn: 'blur'}">
    <div class="form-row">
      <div class="input-control">
        <input class="input-line left" type="text" placeholder="Your Name" [(ngModel)]="contactFormModel.name" name="name" required #name="ngModel">
        <div [ngClass]="{show: name.invalid && !name.pristine}" class="validation-text">Name is required</div>
      </div>
      <div class="input-control">
        <input class="input-line right" type="email" placeholder="Your Email" [(ngModel)]="contactFormModel.email" name="email" required [pattern]="emailPattern" #email="ngModel">
        <div [ngClass]="{show: email.errors?.required && !email.pristine}" class="validation-text">Email is required</div>
        <div [ngClass]="{show: email.errors?.pattern && !email.pristine}" class="validation-text">Email is invalid</div>
      </div>
    </div>
    <textarea class="input-box" rows="7" placeholder="Your Message" [(ngModel)]="contactFormModel.message" name="message" required #message="ngModel"></textarea>
    <div [ngClass]="{show: message.invalid && !message.pristine}" class="validation-text">Message is required</div>
    <a class="send-btn clearfix" (click)="sendEmail(contactForm)">{{sendBtnText}}</a>
  </form>
  <div class="social-links">
    <a href="https://www.linkedin.com/in/richardluo0506" class="social-btn" target="_blank"><i class="ionicons ion-social-linkedin-outline"></i></a>
    <a href="https://github.com/RichardLuo0506" class="social-btn github" target="_blank"><i class="ionicons ion-social-github"></i></a>
    <a href="mailto:richardluo0506@gmail.com" class="social-btn email"><i class="ionicons ion-at"></i></a>
  </div>
  <div class="email">richardluo0506@gmail.com</div>
  <div class="pattern pattern-1"></div>
  <div class="pattern pattern-2"></div>
  <div class="pattern pattern-3"></div>
  <div class="pattern pattern-4"></div>
  <div class="pattern pattern-5"></div>
  <div class="pattern pattern-6"></div>
  <div class="pattern pattern-7"></div>
</footer>
