<section id="splash">
  <div class="canvas-container">
    <ambient-canvas></ambient-canvas>
  </div>
  <grid-lines></grid-lines>
  <header>
    <div class="logo">R</div>
    <div class="web-url">richardluo.dev</div>
  </header>
  <div class="splash-content">
    <div class="heading">Richard Luo</div>
    <div class="heading">Web Developer</div>
    <div class="subheading">I help companies implement <span>intuitive</span> and <span>minimalist</span> web applications solutions</div>
    <div class="view-projects">View Projects</div>
  </div>
  <footer>
    <div class="social-links">
      <a href="https://www.linkedin.com/in/richardluo0506" class="social-btn" target="_blank"><i class="ionicons ion-social-linkedin-outline"></i></a>
      <a href="https://github.com/RichardLuo0506" class="social-btn github" target="_blank"><i class="ionicons ion-social-github"></i></a>
      <a href="mailto:richardluo0506@gmail.com" class="social-btn email"><i class="ionicons ion-at"></i></a>
    </div>
  </footer>
</section>
<section id="projects">
  <grid-lines [paddingTop]="'7rem'"></grid-lines>
  <projects></projects>
</section>
<section id="me">
  <grid-lines></grid-lines>
  <div class="half-column left">
    <div class="inner">
      <div class="contact-me">Contact me<span class="bar"></span></div>
      <div class="photo" [style.backgroundImage]="'url(assets/img/me.jpg)'"></div>
    </div>
  </div>
  <div class="half-column right">
    <div class="inner">
      <div class="content-wrapper">
        <div class="content">
          <header>
            <div class="line">Let's</div>
            <div class="line hl">Work</div>
            <div class="line">Together!</div>
          </header>
          <div class="body-text">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio.</div>
          <div class="ps">Let's build something cool!</div>
        </div>
      </div>
    </div>
  </div>
</section>
<footer class="home-footer">
  <div class="heading">
    <div class="title">
      <div class="back">You</div>
      <div class="front">Ready?</div>
    </div>
  </div>
</footer>
